@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* third-party libraries CSS */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
b,
strong {
  font-weight: bold;
}
